<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Book Tracker</title>
	<link rel="stylesheet" href="../../public/stylesheets/style.css">
	<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
</head>

<body>
	<main>
		{{{ body }}}
	</main>

	<div class="wrapper">
		<footer>
			<h1>Keep on reading!</h1>
		</footer>
		<header>
			<nav>
				{{#if loggedIn}}
				<a href="/logout"><button id="logout" class="btn-no-style">Logout</button></a>
				{{else}}
				<a href="/login" id="login-button"><button class="btn-no-style">Login</button></a>
				{{/if}}
			</nav>
		</header>
	</div>

	{{#if loggedIn}}
	<script src="/js/logout.js"></script>
	{{/if}}

	<script type="text/javascript" src="js/materialize.min.js"></script>
	<script src="/js/login.js"></script>
</body>

</html>