<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Book Tracker</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>
	<div class="container">
		<header>
			<h1>
				<p>Book Tracker</p>
			</h1>
			<div>
				{{#if loggedIn}}
				<a href="/logout"><button id="logout" class="waves-effect waves-light btn">Logout</button></a>
				{{else}}
				<a href="/login" id="login-button"><button id="login" class="waves-effect waves-light btn">Login</button></a>
				{{/if}}
			</div>
		</header>
		<main>
			{{{ body }}}
		</main>
		<footer>
			<p>Keep on Reading!</p>
		</footer>
	</div>

	{{#if loggedIn}}
	<script src="/js/logout.js"></script>
	{{/if}}

    	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	
	</body>
</html>
