<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book Tracker</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<header>
    <h1>
        <a href="/">Book Tracker</a>
    </h1>
    <nav>
        <button id="logout" class="btn-no-style">logout</button>
        <a href="/login">login</a>
    </nav>
</header>

<body>
    <div class="wrapper">
        <header>
        <h1>
            <a href="/">Book Tracker</a>
        </h1>
        </header>
    <main>
        {{{ body }}}
        </main>
        <footer>
            Keep on reading!
        </footer>
    </div>

</body>

</html>


