<section>
	<h2>Add a book!</h2>

	<form class="new-book-form">
		<div>
			<label for="book-title">Book Title</label>
			<input type="text" id="book-title" name="book-title" />
		</div>
		<br>
		<div>
			<label for="book-isbn">ISBN</label>
			<input type="text" id="book-isbn" name="book-isbn" /><br>
		</div>
		<br>
		<div>    
			<label for="book-author">Author</label>
			<input type="text" id="book-author" name="book-author" /><br>
		</div>
		<br>
		<div>    
			<label for="like">
				<input class="with-gap" type="radio" id="like" name="book-feeling" value="like">
				<span>Loved It!</span>
			</label>
			<label for="dislike">
				<input class="with-gap" type="radio" id="dislike" name="book-feeling" value="dislike">
				<span>Bad Book</span>
			</label>
			<label for="wish">
				<input class="with-gap" type="radio" id="wish" name="book-feeling" value="wish">
				<span>Wish To Read</span>
			</label>
		</div>
		<br>
		<button type="submit" id="btn" class="waves-effect waves-light btn">Add it in!</button>
	</form>
</section>

{{#if books.length}}
<section>
	<h3>Your Books</h3>
	<ul class="collection">
		{{#each books as |book|}}
		<li class="collection-item avatar">
			{{> book-info book}}
		</li>
		{{/each}}
	</ul>
</section>
{{/if}}

{{!-- Display list of liked books for the user currently logged in. --}}
<section>
	<h3>Books I Liked Reading</h3>
	<ul class="collection">
		{{#each likes as |book|}}
		<li class="collection-item avatar">
			{{> book-title book}}
		</li>
		{{/each}}
	</ul>
</section>

{{!-- Display list of disliked books for the user currently logged in. --}}
<section>
	<h3>Books I Disliked Reading</h3>
	<ul class="collection">
		{{#each dislikes as |book|}}
		<li class="collection-item avatar">
			{{> book-title book}}
		</li>
		{{/each}}
	</ul>
</section>

{{!-- Display list of liked books for the user currently logged in. --}}
<section>
	<h3>Books I Wish to Read</h3>
	<ul class="collection">
		{{#each wishes as |book|}}
		<li class="collection-item avatar">
			{{> book-title book}}
		</li>
		{{/each}}
	</ul>
</section>

<script src="/js/add-book.js"></script>
