<section>
	<h2>Add a book!</h2>

	<form class="new-book-form">
		<div class="input-field col s12">
			<label for="book-title">Book Title</label>
			<input type="text" id="book-title" name="book-title" class="validate" />
		</div>
		<br>
		<div class="input-field col s12">
			<label for="book-isbn">ISBN</label>
			<input type="text" id="book-isbn" name="book-isbn" class="validate" /><br>
		</div>
		<br>
		<div class="input-field col s12">    
			<label for="book-author">Author</label>
			<input type="text" id="book-author" name="book-author" class="validate" /><br>
		</div>
		<br>
		<div>    
			<label for="like">
				<input class="with-gap" type="radio" id="like" name="book-feeling" value="like">
				<span>Loved It!</span>
			</label>
			<label for="dislike">
				<input class="with-gap" type="radio" id="dislike" name="book-feeling" value="dislike">
				<span>Bad Book</span>
			</label>
			<label for="wish">
				<input class="with-gap" type="radio" id="wish" name="book-feeling" value="wish">
				<span>Wish To Read</span>
			</label>
		</div>
		<br>
		<button type="submit" id="btn" class="waves-effect waves-light btn">Add it in!</button>
	</form>
</section>

{{#if books.length}}
<section>
	<h3>Your Books</h3>
	<ul class="collection">
		{{#each books as |book|}}
		<li class="collection-item avatar">
			{{> book-info book}}
		</li>
		{{/each}}
	</ul>
</section>
{{/if}}

<div class="row">
  {{!-- Display list of liked books for the user currently logged in. --}}
  <div class="col s12 m6 l4">
    <h5>
      <i class="material-icons">thumb_up</i>
      Books I Liked
    </h5>
		{{#each likes as |book|}}
		<li class="collection-item avatar">
			{{> book-title book}}
		</li>
		{{/each}}
  </div>
  {{!-- Display list of disliked books for the user currently logged in. --}}
  <div class="col s12 m6 l4">
    <h5>
      <i class="material-icons">thumb_down</i>
      Books I Disliked
    </h5>
		{{#each dislikes as |book|}}
		<li class="collection-item avatar">
			{{> book-title book}}
		</li>
		{{/each}}
  </div>
  {{!-- Display list of liked books for the user currently logged in. --}}
  <div class="col s12 m6 l4">
    <h5>
      <i class="material-icons">local_library</i>
      Books I Would Like To Read
    </h5>
		{{#each wishes as |book|}}
		<li class="collection-item avatar">
			{{> book-title book}}
		</li>
		{{/each}}
  </div>
</div>

{{!-- Display list of liked books for the user currently logged in. --}}
{{!-- <section>
	<h3>Books I Liked Reading</h3>
	<ul class="collection">
    {{#each likes as |book|}}
		<li class="collection-item avatar">
			{{> book-title book}}
		</li>
		{{/each}}
	</ul>
</section> --}}

{{!-- Display list of disliked books for the user currently logged in. --}}
{{!-- <section>
	<h3>Books I Disliked Reading</h3>
	<ul class="collection">
		{{#each dislikes as |book|}}
		<li class="collection-item avatar">
			{{> book-title book}}
		</li>
		{{/each}}
	</ul>
</section> --}}

{{!-- Display list of liked books for the user currently logged in. --}}
{{!-- <section>
	<h3>Books I Wish to Read</h3>
	<ul class="collection">
		{{#each wishes as |book|}}
		<li class="collection-item avatar">
			{{> book-title book}}
		</li>
		{{/each}}
	</ul>
</section> --}}

<script src="/js/add-book.js"></script>