<section>
	<h2>Add a book!</h2>

	<form class="new-book-form">
		<div>
			<label for="book-title">Book Title</label>
			<input type="text" id="book-title" name="book-title" />
		</div>
		<br>
		<div>
			<label for="book-isbn">ISBN</label>
			<input type="text" id="book-isbn" name="book-isbn" /><br>
		</div>
		<br>
		<div>    
			<label for="book-author">Author</label>
			<input type="text" id="book-author" name="book-author" /><br>
		</div>
		<br>
		<div>    
			<input class="with-gap" type="radio" id="like" name="book-feeling" value="like">
			<label for="like">Loved It!</label>
			<input class="with-gap" type="radio" id="dislike" name="book-feeling" value="dislike">
			<label for="dislike">Bad Book</label>
			<input class="with-gap" type="radio" id="wish" name="book-feeling" value="wish">
			<label for="wish">Wish to Read</label>
		</div>
		<br>
		<button type="submit" id="btn">Add it in!</button>
	</form>
</section>

{{#if books.length}}
<section>
	<h2>Your Books</h2>
	<ol>
		{{#each books as |book|}}
		<li>
			{{> book-info book}}
		</li>
		{{/each}}
	</ol>
</section>
{{/if}}

{{!-- Display list of liked books for the user currently logged in. --}}
<section>
	<h2>Books I Liked Reading</h2>
	<ul>
		{{#each likes as |book|}}
		<li>
			{{> book-title book}}
		</li>
		{{/each}}
	</ul>
</section>

{{!-- Display list of disliked books for the user currently logged in. --}}
<section>
	<h2>Books I Disliked Reading</h2>
	<ul>
		{{#each dislikes as |book|}}
		<li>
			{{> book-title book}}
		</li>
		{{/each}}
	</ul>
</section>

{{!-- Display list of liked books for the user currently logged in. --}}
<section>
	<h2>Books I Wish to Read</h2>
	<ul>
		{{#each wishes as |book|}}
		<li>
			{{> book-title book}}
		</li>
		{{/each}}
	</ul>
</section>

<script src="/js/add-book.js"></script>