<section>
  <h2>Add book</h2>

  <form class="new-book-form">
    <div>
        <label for="book-title">Book Title</label>
        <input type="text" id="book-title" name="book-title" />
    </div>
    <div>
        <label for="book-isbn">ISBN</label>
        <input type="text" id="book-isbn" name="book-isbn" /><br>
    </div>
    <div>    
        <label for="book-author">Author</label>
        <input type="text" id="book-author" name="book-author" /><br>
    </div>
    <div>    
        <input type="radio" id="like" name="book-feeling" value="like">
        <label for="like">Loved It!</label>
        <input type="radio" id="dislike" name="book-feeling" value="dislike">
        <label for="dislike">Bad Book</label>
        <input type="radio" id="wish" name="book-feeling" value="wish">
        <label for="wish">Wish to Read</label>
    </div>
    <br>
    <div>
        <label for="book-review">Book Review</label>
        <input type="text" id="book-review" name="book-review" />
    </div>
    <button type="submit" id="btn">Add it in!</button>
  </form>
</section>

{{#if book.length}}
<section>
  <h2>Your Books</h2>
  <ol>
    {{#each books as |book|}}
    <li>
      {{> book-info book}}
      <a href="/dashboard/edit/{{book.isbn}}" class="edit-link">Edit Book</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

{{!-- likes --}}
{{#if feeling.type = 'like' }} {{!-- If we have any feelings in the database that = like --}}
<section>
<h2>Books I Like</h2>
<ol>
  {{#each books as |book|}} {{!-- we will loop through the book list in the database --}}
  <li>
    {{book.title}} {{!-- Each Book Title will be listed in the section --}}
  </li>
  {{/each}}
</ol>
</section>
{{/if}}

{{!-- dislikes --}}
{{#if feeling.type = 'dislike' }} {{!-- If we have any feelings in the database that = dislike --}}
<section>
<h2>Books I Dislike</h2>
<ol>
  {{#each books as |book|}} {{!-- we will loop through the book list in the database --}}
  <li>
    {{book.title}} {{!-- Each Book Title will be listed in the section --}}
  </li>
  {{/each}}
</ol>
</section>
{{/if}}


{{!-- Wishes --}}
{{#if feeling.type = 'wish' }} {{!-- If we have any feelings in the database that = wish --}}
<section>
<h2>Books I Would Like To Read</h2>
<ol>
  {{#each books as |book|}} {{!-- we will loop through the book list in the database --}}
  <li>
    {{book.title}} {{!-- Each Book Title will be listed in the section --}}
  </li>
  {{/each}}
</ol>
</section>
{{/if}}


<script src="/js/add-book.js"></script>