<form class="login-form">
    <h2> Welcome back!</h2>
  
    <div>
		<label for="email-login">Email:</label>
		<input type="text" id="email-login" />
    </div>
    <br>
    <div>
		<label for="password-login">Password:</label>
		<input type="password" id="password-login" />
    </div>
    <br>
    <div>
		<button type="submit">Login</button>
    </div>
</form>
<br>
<form class="signup-form">
	<h2> New to Book Tracker?</h2>
	<div>
		<label for="username-signup">Username:</label>
		<input type="text" id="username-signup" />
	</div>
	<br>
	<div>
		<label for="email-signup">Email:</label>
		<input type="text" id="email-signup" />
	</div>
	<br>
	<div>
		<label for="password-signup">Password:</label>
		<input type="password" id="password-signup" />
	</div>
	<br>
	<div>
		<button type="submit">Signup</button>
	</div>
</form>

<script src="/js/login.js"></script>